@font-face {
  src: url(../fonts/Exo20-Thin.woff2) format('woff2'),
    url(../fonts/Exo20-Thin.woff) format('woff'),
    url(../fonts/Exo20-Thin.otf) format('opentype');
  font-family: 'Exo2.0';
  font-weight: 100;
}
