.app__header {
  position: relative;
  font-family: 'Exo2.0', sans-serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-align: center;
  margin: 0;
}

.app__cards {
  display: flex;
  justify-content: center;
  gap: 80px;
  min-width: 1280px;
  margin: 24px 0 0;
  padding: 0;
  list-style-type: none;
}
