.app {
  margin: 36px 0 67px;
  max-width: 1280px;
}

.app__header {
  position: relative;
  font-family: 'Exo2.0', sans-serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

.app__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 24px 0 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 480px) and (max-width: 1279px) {
  .app__cards {
    padding: 0 80px;
  }
}
