.card {
  position: relative;
  width: 320px;
  height: 480px;
  background-image: url(../images/card-bg.png);
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
}

.card_disabled {
  cursor: default;
  background-image: url(../images/card-bg-disabled.png);
}

.card__border {
  position: absolute;
  top: 0;
  left: 0;
}

.card__text-container {
  position: absolute;
  top: 21px;
  left: 51px;
  color: #666;
}

.card__text-container_disabled {
  color: #b3b3b3;
  opacity: 50%;
}

.card__description {
  max-width: 185px;
  margin: 15px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.card__slogan {
  font-weight: 400;
  font-size: 16px;
  margin: 1px 0 0;
}

.card__slogan_selected {
  color: #E52E7A;
}

.card__title {
  margin: 6px 0 0 0;
  transform: translateX(-3px);
  font-weight: 700;
  font-size: 48px;
  color: #000;
}

.card__title_disabled {
  color: #b3b3b3;
}

.card__taste {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.card__taste_disabled {
  color: #b3b3b3;
}

.card__signature {
  position: relative;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  margin: 16px 0 0;
  letter-spacing: -0.015em;
}

.card__signature_disabled {
  color: #FFFF66;
}

.card__link {
  font-weight: 700;
  color: #1698D9;
  text-decoration: none;
  border-bottom: 1px dashed #1698D9;
  outline: none;
}

.card__link:hover {
  color: #2EA8E6;
  border-bottom: 1px dashed #2EA8E6;
}

.card__link_disabled {
  display: none;
}

.card__point {
  color: #1698D9;
}

.card__point_disabled {
  display: none;
}

.card__hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
