.oval {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

.oval__weight {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 42px;
  margin: 13px 0 0;
  line-height: 36px;
}

.oval__unit {
  width: 100%;
  position: absolute;
  top: 50px;
  font-size: 21px;
  margin: 0;
}

.oval_selected {
  background-color: #E52E7A;
}
